/* Підвал */
footer {
  padding: 0 0 40px;
  margin-top: 10px;
  background-color: var(--bs-light);
}

.btn-footer_wrapper {
  display: flex;
  justify-content: flex-start;
 
}

.btn-footer {
  display: block; 
  padding: 0 20px; 
  outline: none;  
  text-align: center;
  letter-spacing: 0.04em;  
  background: inherit;  
  cursor: pointer;
}

.icon-instagram, 
.icon-facebook {
  stroke: var(--bs-gray-600);
  fill: var(--bs-gray-600);
  transition: 1s;
}

.btn-footer:hover .icon-instagram {
  stroke: var(--color-hover);
  fill: var(--color-hover); 
}

.btn-footer:hover .icon-facebook {
  stroke: blue;
  fill: blue; 
}
