/* Підвал */
footer {
  padding: 5px 0;
  margin: 5px 0 15px;
  background-color: var(--second-background-color);
}

.footer_wrapper {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between; 
}

.footer_icon-wrapper {
  display: flex;
  
}

.btn-footer {
  display: block; 
  padding: 0 20px; 
  outline: none;  
  text-align: center;
  letter-spacing: 0.04em;  
  background: inherit;  
  cursor: pointer;
}

.icon-instagram, 
.icon-facebook {
  stroke: var(--font-brown-light);
  fill: var(--font-brown-light);
  transition: 1s;
}

.btn-footer:hover .icon-instagram {
  stroke: var(--color-hover);
  fill: var(--color-hover); 
}

.btn-footer:hover .icon-facebook {
  stroke: blue;
  fill: blue; 
}

.footer_copyright-wrapper {
  display: flex;
}

.footer_copyright-wrapper p {
  margin: 0;
  font-size: 12px;
}

.f_copyright-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-right: 5px;
}

.f_p-wrapper {
  color: var(--font-brown) ;
  display: flex;
  justify-content: center;
  align-items: center; 
}

