.logobox {  
  display: flex;
}

.logo_img {
  max-height: 67px;
}

.logo2 {
  line-height: 1.2;
  /* font-family: var(--monserrat);
    font-family:var(--bs-font-sans-serif);
    font-family: 'Dancing Script', cursive; */
}

.logo_name {
  /* font-family: 'Open Sans Light', sans-serif; */
  font-family: "CopperplateGothicBold";
  margin: 0;
  font-stretch: 50%;
  /* color: #4b5085; */
  color: var(--font-brown-light-2);
  /* color: var(--bs-secondary-text-emphasis); */
  transition: 0.5s;

  /* color: var(--bs-gray-900); */
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 18px;
  /* text-transform: uppercase; */
  /* text-shadow: 1px -2px 0px #dbd0ba;
    text-shadow: 1px 0px 0px var(--yellow); */
}

.logo_about {
  color: var(--font-brown);
  /* font-family: var(--monserrat); */
  font-family: "CopperplateGothic";
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
  /* font-family: 'Pacifico', cursive; */
  /* font-style: italic; */
  margin: 0;
}

@media screen and (min-width: 350px) {
  .logo_name {
    font-weight: 400;
    /* letter-spacing: 1.5px; */
    font-size: 20px;
  }
  .logo_about {
    font-size: 18px;
  }
}
@media screen and (min-width: 400px) {
  .logo_name {
    font-weight: 300;
    /* letter-spacing: 1.5px; */
    font-size: 24px;
  }
  .logo_about {
    font-size: 20px;
  }
}

.logo:hover .logo_name {
  color: var(--color-hover);
}


